doctype html
html(lang="ru") 
    head
        meta(charset="utf-8")
        title Fifteen
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/reset.css")
        link(rel="stylesheet" href="/css/index.css")
    body
        - var values = new Array(16).fill(0).map((item, index) => index + 1);
        .page
            h1 Игра в Пятнашки
            .fifteen#fifteen
                each val in values
                    button.item
                        span.itemVal= val
            button.button Перемешать   
        script(src="/js/index.js")
